<form method="post" action="{{ path('app_admin_user_delete', {'id': admin_user.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin_user.id) }}">
    <button class="btn">Delete</button>
</form>
